{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <fieldset class="large-12 columns">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </fieldset>
    </div>
{% endblock %}